.banner {
  background: url("/marcha.png") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.title {
  font-family: TiemposHeadline;
  font-size: 40px;
  text-align: center;
  max-width: 951px;
  margin-bottom: 0;
  font-weight: 900;
}

.paragraph,
.hashtag {
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.hashtag {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .banner {
    padding: 1rem 2rem;
    padding-bottom: 4rem;
  }
  .title {
    font-size: 30px;
  }
}
