.container {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 0px;
  text-align: center;
}

.imageContainer {
  position: relative;
  background-color: green;
  width: 100%;
}

.image {
  filter: grayscale(100%);
  width: 100%;
  cursor: pointer;
}

.names{
  font-size: 12px;
  margin-block-start: 0.5rem;
  margin-block-end: 2rem;
}
