.modalWindow {
  width: 64%;
  padding: 0;
}

.modal {
  background: #ffffff;
  display: flex;
}

.info {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
  margin: 0;
  text-transform: capitalize;
  font-family: TiemposHeadline;
  font-weight: 900;
  font-size: 26px;
}

.partido {
  margin: 0;
  margin-top: 10px;
  font-family: TiemposHeadline;
  font-weight: 900;
  font-size: 24px;
  color: #989898;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.partidoLogo {
  width: 24px;
  margin-right: 10px;
}

.line {
  margin: 1rem 0;
  border: 1px solid black;
}

.cargo span {
  text-transform: capitalize;
}

.cargo .label {
  font-weight: 700;
}

.denuncias {
  background-color: #d10000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.51rem 0.1rem;
  margin: 1rem 0;
}

.iconContainer {
  margin-right: 18px;
}

.x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}

.imageContainer img {
  height: 100%;
  object-fit: cover;
}

.image {
  filter: grayscale(100%);
}

@media (max-width: 900px) {
  .modal {
    flex-direction: column;
  }

  .imageContainer {
    width: 200px;
    margin: 0 auto;
  }

  .imageContainer img {
    height: auto;
    object-fit: contain;
  }

  .modalWindow {
    width: 100%;
  }
}
